<section class="sectionContacto" id="sectionContacto">
    <h2 class="titleContacto">Contacto</h2>
    <div class="contenidoContacto">
        <form action="" class="formContacto">
            <div>
                <label for="name">Nombre:</label>
                <input type="text" class="item-form">
            </div>
            <div>
                <label for="email">Correo:</label>
                <input type="email" class="item-form">
            </div>
            <div>
                <label for="message">message:</label>
                <textarea type="text" class="item-form"></textarea>
            </div>
            <button type="submit" class="button-send">ENVIAR</button>
            <button type="reset" class="button-send">BORRAR</button>
        </form>
    </div>
</section>