/* BANNER */
.sectionBanner {
    background-image: url(../../../assets/img/fondoDos.jpg);
    background-size: cover;
    display: flex;
    margin-top: 80px;
    color: white;
    justify-content: space-around;
    border-radius: 8px;
    font-size: 250%;
}

@media (max-width: 1200px) {
    .sectionBanner {
        margin-top: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    

}

@media (max-width: 600px) {
    .sectionBanner {
        margin-top: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerText {
        padding-top: 10%;
        margin-bottom: -10%;
        font-size: 50%;
    }

    .containerAnimatedText {
        font-size: 50%;
    }

}

.container1 {
    display: block;
    width: 50%;
}

.containerText {
    margin-left: 10%;
    margin-top: 20%;
}

.containerText h1 {
    color: #4CAF50;
}

.containerAnimatedText {
    margin-top: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    padding: 3%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

/* Animación de máquina de escribir */
#animatedText {
    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
    overflow: hidden;
    /* Oculta el texto que excede el ancho */
    border-right: 4px solid;
    /* Crea el efecto de cursor */
    display: inline;
    /* Permite que el ancho se ajuste al contenido */
    width: 0;
    /* Inicia con ancho 0 para el efecto de escritura */
    animation: typing 4s steps(40, end) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}