<section class="sectionBanner" id="sectionBanner">
    <div class="containerBanner">
        <div class="container0">
            <h1>Hola soy:</h1> <!-- Texto fijo -->
        </div>
    
        <!-- Contenedor del texto animado -->
        <div class="container1">
            <div>
                <div>
                    <h2 id="animatedText" [class.animating]="isAnimating">{{ currentText }}</h2> <!-- Texto animado -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contenedor para el texto fijo "Hola soy" -->
    

    <!-- Contenedor del párrafo -->
    <div class="container2">
        <div>
            <p>
            <h6>
                A lo largo de mi formación en el desarrollo de software, he adquirido conocimientos en diversas
                tecnologías como <span style="color: #45a049;">HTML5, CSS3, TypeScript, Angular, Java,
                    SpringBoot, Hibernate, SQL, MySQL</span>, y más. Actualmente, estudio la Tecnicatura Superior en
                Desarrollo de
                Software en el IFTS. Mi objetivo es mejorar mis habilidades en un entorno que fomente la
                creatividad y el crecimiento personal y profesional.
            </h6>
        </div>
    </div>
</section>