<section class="sectionBanner" id="sectionBanner">
    <div class="container1">
        <div class="containerText">
            <h1>Hola soy:</h1>
        </div>
        <div class="containerAnimatedText">
            <div>
                <h2 id="animatedText" [class.animating]="isAnimating">{{ currentText }}</h2> <!-- Texto animado -->
            </div>
        </div>
    </div>
    <div class="container2">
        <div>
            <p>
            <h6>
                Estudiante avanzado de la <span style="color: #45a049;">Tecnicatura Superior
                    en Desarrollo de Software</span> con una sólida formación
                académica y mucha pasión por el mundo del
                desarrollo de software. <br> <br>
                Mi formación me ha permitido participar
                activamente en diferentes proyectos IT,
                involucrándome en todas las etapas del ciclo: desde
                el análisis de requerimientos, pasando por el desarrollo de
                software y la implementación final.
            </h6>
        </div>
    </div>

</section>