.contenedorFloatingButton {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-radius: 8px;
    position: fixed;
    /* Fija la barra de navegación */
    bottom: 0;
    /* La coloca en la parte superior */
    width: 98.8%;
    /* Ocupa ancho de la pantalla */
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
    margin-bottom: 63px;
    margin-left: -3px;
}

.upButton {
    font-family: monospace;
    background-color: #4CAF50;
    /* Color de fondo */
    border: none;
    /* Sin borde */
    color: white;
    /* Color del texto */
    padding: 10px 15px;
    /* Espaciado interior */
    text-align: center;
    /* Alineación del texto */
    text-decoration: none;
    /* Sin subrayado */
    display: inline-block;
    /* Mostrar en línea */
    font-size: 16px;
    /* Tamaño de la fuente */
    margin: 4px 2px;
    /* Margen exterior */
    cursor: pointer;
    /* Cambiar cursor al pasar sobre el botón */
    border-radius: 8px;
    /* Bordes redondeados */
    transition: background-color 0.3s;
    /* Transición para el cambio de color */
}

.upButton:hover {
    background-color: #45a049;
    /* Color de fondo al pasar el cursor */
}